.button {
  display: inline-block;
  background: var(--pink);
  color: var(--black);
  padding: 8px 16px;
  border: 0;
  outline: none;
  font-family: var(--font);
  font-size: var(--font-size);
  border-radius: var(--border-radius);

  &--disabled {
    color: gray;
    background: lightgray;
  }
}
