<app-well
  [canClose]="true"
  (closed)="deleted.emit()"
>
  <h3 top>
    <a [routerLink]="['/forecast', zipCode]">
      {{name}}
      <span class="zip">
        ({{zipCode}})
      </span>
    </a>
  </h3>
  <div container
    class="details"
  >
    <p class="conditions">
      <em>Current conditions:</em> {{conditions}}
    </p>
    <p class="temperature">
      <em>Temperature:</em> {{temperature}}°F
    </p>
    <p class="range">
      <em>High:</em> {{max}}°F | <em>Low:</em> {{min}}°F
    </p>
    <app-conditions class="visual"
      [conditions]="conditions"
      size="large"
    ></app-conditions>
  </div>
</app-well>
