<app-well (closed)="deleted.emit()">
  <h3 top>
    <a [routerLink]="['/forecast', zipCode]">
      {{name}}
      <span class="zip">
        ({{zipCode}})
      </span>
    </a>
  </h3>
  <div container
    class="details"
  >
    <p class="conditions">
      <em>Current conditions:</em> {{conditions}}
    </p>
    <p class="temperature">
      <em>Temperature:</em> {{temperature}}°F
    </p>
    <p class="range">
      <em>Max today:</em> {{max}}°F | <em>Min today:</em> {{min}}°F
    </p>
    <img class="visual"
      [src]="visualSrc"
    />
  </div>
</app-well>
