<app-well class="home-link">
  <a container
    routerLink=""
  >
    Return to home page
  </a>
</app-well>
<app-well *ngIf="forecast$ | async as forecast">
  <h3 top>
    {{forecast.name}}
    <span class="zip">
      ({{zipCode$ | async}})
    </span>
  </h3>
  <div container
    class="forecast"
  >
    <div class="day"
      *ngFor="let day of forecast.days"
    >
      <p>
       <em>Day:</em> {{day.conditions}} |
       <em>High:</em> {{day.max}}°F |
       <em>Low:</em> {{day.min}}°F
      </p>
      <app-conditions [conditions]="day.conditions">
      </app-conditions>
    </div>
  </div>
</app-well>
