<app-well
  title="Add a location"
  [canClose]="false"
>
  <form #zipCodeForm="ngForm"
    (ngSubmit)="onSubmit(zipCodeForm)"
  >
    <div class="form-group">
      <label class="instructions"
        for="zipcode"
      >
        Enter a zip code:
      </label>
    </div>
    <div class="form-group">
      <input class="input"
        id="zipcode"
        name="zipCode"
        required
        [(ngModel)]="model"
      />
      <button app-button
        [disabled]="!zipCodeForm.form.valid"
      >
        Add location
      </button>
    </div>
  </form>
</app-well>
